@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*height: 100vh;
    width: 100%;
    /*background-color: #C95E67;*/
    background-image: url(https://search.pstatic.net/sunny/?src=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fbackground%2F20230912%2Fpngtree-blue-sunlit-clouds-with-a-sky-and-sunlight-image_13271226.jpg&type=sc960_832);
    background-size: cover;
}


/* TOP */
.content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-top {
    padding: 50px;
    border-radius: 4px;
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px 0 50px 0;
    border: 2px solid #ffffff; /* 테두리 두께와 색상을 설정합니다 */
}

.content-top .city {
    font-size: 29px;
    color: #C95E67;
    text-align: center;
}

.content-top .temp {
    margin-top: 50px;
    font-size: 65px;
    color: #C95E67;
    font-weight: 600;
    text-align: center;
}

/* BOTTOM */
.content-bottom {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    height: 100px;
    width: 1100px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff; /* 테두리 두께와 색상을 설정합니다 */
} 


/* values */
.part1,
.part2,
.part3 div span {
    font-weight: 400;
    font-size: 17px;
}




/* searchboxs */

.search-boxs {
    padding-top: 50px;
    min-height: calc(100vh - 500px);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.search-boxs div * {
    text-align: center;
}

.search-boxs .forCity .input-btn input {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    border-radius: 5px;
    
}

.forCity .input-btn button,
.forCoordinant button {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 35px;
}

.forCity .input-btn button i,
.forCoordinant button i {
    font-size: 100%;
}

.search-boxs .forCoordinant div input {
    background-color: #efefef;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
}

.search-boxs .forCurrentLocation div button {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.search-boxs .forCurrentLocation div button i {
    font-size: 20px;
}
/* 날씨에따라 변경되는 배경화면*/
body.sunny {
    background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2FMjAxNzEyMTZfMTgg%2FMDAxNTEzMzkyNzM4MjM0.dX8nIHBWNvUHBOjP65VJ206WP2Dnt-E8ZaAVmetsnQ0g.KqyGIVMRekWLdXc8m5YcC0KLPEmeonIAKmY_-h4YfjAg.JPEG.nisadust42%2F%25BB%25E7%25C0%25CC%25C6%25C7_%25C1%25F6%25B1%25DD4%2528%25BD%25BA%25C4%25DD_%25C8%25C4_%25B8%25BC%25C0%25BA%25B3%25AF%25BE%25BE%2529.JPG&type=sc960_832');
    background-size: cover;
}

body.cloudy {
    background-image: url('https://cdn.mhns.co.kr/news/photo/202305/552534_673600_427.jpg');
    background-size: cover;
}
body.snow {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaWeeusFC4GUxOMgDvTaYPgjVN8LazVXwGLg&usqp=CAU');
    background-size: cover;
}
body.foggy {
    background-image: url('https://i.namu.wiki/i/xdBkIIJvKRYX4KeNb6MnZCqnmXraYcf9eIXnmHW2ynNLiz1WAwGSFvYrzM--kJ1ewscU-fOn-WRfV1jCefCwsA.webp');
    background-size: cover;
}
body.rain {
    background-image: url('https://mblogthumb-phinf.pstatic.net/MjAyMzA3MTJfMzYg/MDAxNjg5MTUxMzQyMTE3._bFlknX_Fr9mN0OUHVtv4m0tiO8n3TPUxizY4ZoZP3og.XAKkwIwem8esnvqyfwC7RmrmvIpxc0dXbtppdPSP65Mg.JPEG.kma_131/GettyImages-1407844890_(2).jpg?type=w800');
    background-size: cover;
}
