@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-image: url('https://search.pstatic.net/sunny/?src=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fbackground%2F20230912%2Fpngtree-blue-sunlit-clouds-with-a-sky-and-sunlight-image_13271226.jpg&type=sc960_832');
    background-size: cover;
}

/* Top content styling */
.content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-top {
    padding: 50px;
    border-radius: 4px;
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.09);
    margin: 20px 0 50px 0;
    border: 2px solid #ffffff;
    backdrop-filter: blur(10px); /* 블러 효과 */
    
}

.content-top .city {
    font-size: 29px;
    color: #E64550;
    text-align: center;
}

.content-top .temp {
    margin-top: 50px;
    font-size: 65px;
    color: #E64550;
    font-weight: 600;
    text-align: center;
}



/* middle content styling */
.content-middle1 {
    padding: 0px;
    border-radius: 4px;
    height: 200px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px); /* 블러 효과 */
    margin: 20px 0 50px 0;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    float: left;
    margin-right:90px;
}


.content-middle2 {
    padding: 0px;
    border-radius: 4px;
    height: 200px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px); /* 블러 효과 */
    margin: 20px 0 50px 0;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    float: right;
}
.recent-searches h2 {
    font-size: 30px; 
    font-weight: 700;
}
.recent-searches tbody tr td {
    font-size:18px; 
    font-weight: 700;
}

/* Bottom content styling */
.content-bottom {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    height: 100px;
    width: 1100px;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px); /* 블러 효과 */
    border: 2px solid #ffffff;
    
}

/* Values */
.part1,
.part2,
.part3 div span {
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    font-weight: 600;

}

/* Search boxes */
.search-boxs {
    padding-top: 50px;
    min-height: calc(45vh - 400px);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.search-boxs div * {
    text-align: center;
    color: #000000;
    font-weight: 600;   
}

.search-boxs .forCity .input-btn input {
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px); /* 블러 효과 */
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.forCity .input-btn button,
.forCoordinant button {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 35px;
}
/*도시이름 위도경도 돋보기*/
.forCity .input-btn button i,
.forCoordinant button i {
    font-size: 100%;
    color: #000000;
    font-weight: 600;
     
}

.search-boxs .forCoordinant div input {
    background-color: #efefef;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
}

.search-boxs .forCurrentLocation div button {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 2px solid #ffffff;
}
/*현재위치 돋보기*/
.search-boxs .forCurrentLocation div button i {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}
/*  chat-container*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: px;
    margin-right: 0px;
    
}

.message {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
    
}

#chat-container {
    width: 400px;
    height: 850px;
    border: 3px solid rgb(34, 31, 31);
    margin-left: 100px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    
}

#user-input {
    display: flex;
    padding: 10px;
    
}

#user-input input {
    flex: 1;
    padding: 10px;
    outline: none;
    
}

#user-input button {
    border: none;
    background-color: #ee6d04;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    
}


/* Weather backgrounds */
body.sunny {
    background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2FMjAxNzEyMTZfMTgg%2FMDAxNTEzMzkyNzM4MjM0.dX8nIHBWNvUHBOjP65VJ206WP2Dnt-E8ZaAVmetsnQ0g.KqyGIVMRekWLdXc8m5YcC0KLPEmeonIAKmY_-h4YfjAg.JPEG.nisadust42%2F%25BB%25E7%25C0%25CC%25C6%25C7_%25C1%25F6%25B1%25DD4%2528%25BD%25BA%25C4%25DD_%25C8%25C4_%25B8%25BC%25C0%25BA%25B3%25AF%25BE%25BE%2529.JPG&type=sc960_832');
    background-size: cover;
}

body.cloudy {
    background-image: url('https://cdn.mhns.co.kr/news/photo/202305/552534_673600_427.jpg');
    background-size: cover;
}

body.snow {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaWeeusFC4GUxOMgDvTaYPgjVN8');
}

body.foggy {
    background-image: url('https://i.namu.wiki/i/xdBkIIJvKRYX4KeNb6MnZCqnmXraYcf9eIXnmHW2ynNLiz1WAwGSFvYrzM--kJ1ewscU-fOn-WRfV1jCefCwsA.webp');
    background-size: cover;
}

body.rain {
    background-image: url('https://mblogthumb-phinf.pstatic.net/MjAyMzA3MTJfMzYg/MDAxNjg5MTUxMzQyMTE3._bFlknX_Fr9mN0OUHVtv4m0tiO8n3TPUxizY4ZoZP3og.XAKkwIwem8esnvqyfwC7RmrmvIpxc0dXbtppdPSP65Mg.JPEG.kma_131/GettyImages-1407844890_(2).jpg?type=w800');
    background-size: cover;
}
